.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 10px 20px;
  font-weight: bold;
  color: #09d3ac;
}

.App-header a{
  color: #09d3ac;
}

.App-logo {
  width: 100px;
}
